.search-bar {
    width: 385px;
    height: 40px;
    left: 308px;
    top: 40px;

    background: #FFFFFF;
    border-radius: 100px;
}

@media screen and (max-width: 600px) {
    .search-bar {
    width: 210px;
    height: 30px;
    left: 308px;
    top: 40px;
    }

}