body {
  background-color: #1E1E1E;
  color: #FFFFFF;
  padding-right: 12px;
}

.row .row-width {
  width: 280px;
}

@media screen and (max-width: 1200px) {
  .poster {
    width: 192px;
    height: 285px;
  }

  .row .row-width {
    width: 210px;
  }

  .title-text {
    font-size: 18px !important;
  }
}



::-webkit-scrollbar {
  width: 0;
  display: none;
}

.scrollable {
  overflow-x: auto;
  flex-wrap: nowrap;
  padding: none !important;
}

.movie-app {
  height: 100vh;
  margin: 0;
  display: flex;
}

.scrollable {
  box-shadow: 0 0 10px #1E1E1E;
}

.content-container {
  padding-right: 12px !important;
  max-height: 100vh;
  overflow: auto;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.search {
  display: flex;
  flex-wrap: wrap;
  max-height: 100%;
}

.discover {
  padding-top: 24px;
}